<div class="container">
  <div class="mt-5 mb-5">
   <headline>会員情報編集</headline>
  </div>
</div>
<%= form_with model: @customer, url: customer_update_path  do |f| %>
  <div class="container">
    <div class="form-group row">
      <div class="col-2">氏名</div>
      <div class="col-8">
        <%= f.text_field :last_name, class: "col-auto" %>
        <%= f.text_field :first_name, class: "col-auto" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-2">フリガナ</div>
      <div class="col-8">
        <%= f.text_field :last_name_kana, class: "col-auto" %>
        <%= f.text_field :first_name_kana, class: "col-auto" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-2">メールアドレス</div>
      <div class="col-8">
        <%= f.email_field :email, class: "col-auto", autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-2">郵便番号</div>
      <div class="col-8">
        <%= f.text_field :postal_code, class: "col-auto", autofocus: true, autocomplete: "postal_code" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-2">住所</div>
      <div class="col-8">
        <%= f.text_field :address, class: "col-auto", autofocus: true, autocomplete: "address" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-2">電話番号(ハイフン無し)</div>
      <div class="col-8">
        <%= f.text_field :telephone_number, class: "col-auto" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-2">パスワード
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
        <br />
      </div>
      <div class="col-8">
        <%= f.password_field :password, class: "col-auto", autocomplete: "new-password"%>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-2">パスワード(確認用)</div>
      <div class="col-8">
        <%= f.password_field :password_confirmation, class: "col-auto", autocomplete: "new-password" %>
      </div>
    </div>

    <div class="col-2"></div>
    <div class="col-8">
      <%= f.submit "編集内容を保存", class: "btn btn-lg btn-success w-25" %>
    </div>
  </div>
<% end %>

<div class="text-center">
  <%= link_to "退会する", customer_unsubscribe_path, class: "btn btn-danger" %>
</div>
