<div class="container">
  <div class="mt-5 mb-5">
    <headline>商品新規登録</headline>
   </div>
 </div>
 <div class="row justify-content-center">
  <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
<table class="table table-borderless">
  <tr>
    <td>商品画像</td>
     <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
   <tr>
<td>商品名</td>
  <td><%= f.text_field :name %></td>
   </tr>
     <tr>
      <td>商品説明</td>
    <td><%= f.text_area :introduction, :size => "30x5"%></td>
   </tr>
  <tr>
<td>ジャンル</td>
  <td><%= f.select :genre_id, {'ケーキ': 1, 'プリン': 2,'焼き菓子': 3, 'キャンディ': 4}, { include_blank: '--選択してください--'}, { required: true } %></td>
   </tr>
    <tr>
     <td>税抜価格</td>
    <td><%= f.text_field :price, :placeholder => "1000" %>円</td>
   </tr>
  <tr>
<td>販売ステータス</td>
  <td><%= f.radio_button :is_active, :true %>
    <label>販売中</label>
      <%= f.radio_button :is_active, :false %>
    <label>販売停止中</label>
   </td>
  </tr>
</table>
 <div class="text-center">
  <%= f.submit "新規登録", class: "btn btn-success btn-lg" %>
   </div>
    </div>
   </div>


<% end %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
$(function(){
  $('.dropdown-menu .dropdown-item').click(function(){
    var visibleItem = $('.dropdown-toggle', $(this).closest('.dropdown'));
    visibleItem.text($(this).attr('value'));
  });
});
</script>