<div class="container">
  <div class="mt-5 mb-5">
    <headline>注文履歴詳細</headline>
  </div>
<div class="row">
  <div class="col-2">
    <div class="h5 font-weight-bold">購入者</div>
  </div>
<div class="col-8">
  <%=  link_to admin_root_path do %>
    <%= @order.customer.full_name %>
  <% end %>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div class="h5 font-weight-bold">注文日</div>
  </div>
  <div class="col-8">
    <%= @order.created_at.strftime('%Y/%m/%d') %>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div class="h5 font-weight-bold">配送先</div>
  </div>
  <div class="col-8">
    〒<%= @order.postal_code %>
    <%= @order.address %>
    <p><%= @order.name %></p>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div class="h5 font-weight-bold">支払方法</div>
  </div>
  <div class="col-8">
    <%= @order.payment_method_i18n %>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div class="h5 font-weight-bold">注文ステータス</div>
  </div>
  <div class="col-8">
    <%= form_with model: @order, url: admin_order_path do |f| %>
    <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
<%= f.submit "更新", class:"btn btn-sm btn-success" %>
<% end %>
  </div>
</div>
<div class="row">
<table class=" col-md-8 table table-sm w-75 mt-5">
  <tr bgcolor="#f5f5f5">
    <th>商品名</th><th>単価(税込)</th>
    <td>数量</td><td>小計</td><td>制作ステータス</td>
  </tr>
  <% @order_details.each do |order_detail| %>
    <%= form_with model: order_detail, url: admin_order_order_detail_path(@order,order_detail) do |f| %>
    <tr>
      <td><%= order_detail.item.name %></td>
        <td><%= order_detail.item.with_tax_price %></td>
          <td><%= order_detail.amount %></td>
        <td><%= order_detail.item.with_tax_price*order_detail.amount %></td>
      <td><%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
      <%= f.submit "更新", class: "btn　btn-sm btn-success" %></td>
    </tr>
  <% end %>
  <% end %>
</table>
  <div class="col-md-3 offset-md-1 mt-5">
    <table>
      <tr>
        <th class="h5 font-weight-bold">商品合計</th>
          <td class="pl-2"><%= @order.amount - @order.postage %>円</td>
      </tr>
      <tr>
        <th class="h5 font-weight-bold">送料</th>
          <td class="pl-2"><%= @order.postage %>円</td>
      </tr>
      <tr>
        <th class="h5 font-weight-bold">請求金額合計</th>
          <td class="pl-2"><%= @order.amount %>円</td>
      </tr>
    </table>
  </div>
  </div>
</div>



